.indv-card {
  padding-bottom: 1rem;
}

.view {
  text-align: center;
}

.card-title {
  padding-top: 1rem;
}

.card-body {
  padding: 0 0.5rem;
}

.card {
  background-color: rbga(188, 188, 188, 0.6) important!;
}
