.feed-background {
  background: url('../../assets/images/city.jpeg') no-repeat;
  /* background: url('../../assets/images/cityscape.jpeg') no-repeat; */
  background-size: cover;
  background-position: fixed;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.feed-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem;
}

.card-group {
  width: 100%;
  /* border-spacing: 0.25rem 0 important!; */
}

h1 {
  text-align: center;
  padding-bottom: 2rem;
}

@media (min-width: 544px) {
  .card-deck {
    border-spacing: 0 important!;
  }
}

.search-bar {
  display: flex;
  margin: 0 auto;
  width: 60%;
  margin-bottom: 2rem;
}
