.feed-background {
  /* background-image: url('../../assets/images/texture.jpg');
  background-size: contain
  /* background-color: rgba(188, 188, 188, 0.5); */
  /* background-image: url('../../assets/images/brick.jpg');
  background-size: contain; */
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.card-group {
  width: 100%;
  /* border-spacing: 0.25rem 0 important!; */
}

h1 {
  text-align: center;
  padding-bottom: 2rem;
}

@media (min-width: 544px) {
  .card-deck {
    border-spacing: 0 important!;
  }
}

.search-bar {
  display: flex;
  margin: 0 auto;
  width: 60%;
  margin-bottom: 2rem;
}
