/* .background {
  background-image: url('../../assets/images/texture.jpg');
  background-size: cover;
} */

.col-4 {
  width: 30%;
}

.number-wrapper {
  /* background-color: rgb(135, 132, 216); */
  background: rgb(143, 140, 230);
  background: radial-gradient(circle, rgba(143, 140, 230, 1) 0%, rgba(83, 80, 167, 1) 100%);
  border-radius: 50%;
  padding: 1rem;
  font-size: 4rem;
  height: 8rem;
  width: 8rem;
  margin: 0 auto;
  color: white;
}

.result-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.result-title {
  padding-bottom: 5rem;
}

.card {
  height: 100%;
}

.card-body h1 {
  font-size: 3rem;
}

#total-issues {
  font-size: 10rem;
}

#filter-issues {
  font-size: 3rem;
}

.pie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-issue-card p .top-issue-card ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  margin: 0;
  padding: 0;
}
.top-issue-card ol li {
  counter-increment: my-awesome-counter;
  display: flex;

  font-size: 1 rem;
  margin-bottom: 0.5rem;
  align-items: center;
}
.top-issue-card ol li::before {
  content: counter(my-awesome-counter);
  font-weight: bold;
  color: white;
  line-height: 1;
  background: rgb(143, 140, 230);
  background: radial-gradient(circle, rgba(143, 140, 230, 1) 0%, rgba(83, 80, 167, 1) 100%);
  border-radius: 50%;

  padding: 1rem;
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
}

.graph-wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
}

.graph-header {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.graph-header h3 {
  margin: 1rem 1rem 1rem 5rem;
  font-weight: 300;
  font-size: -webkit-xxx-large;
}

.graph-header button {
  margin: 1rem;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

.btnStyle {
  border: none;
}

.btnStyleActive {
  border: none;
  background-color: grey;
}

.result-container h2 {
  font-size: 3rem;
}

/* Animation CSS */

.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}
