.graph-header {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.graph-header h3 {
  margin: 1rem 1rem 1rem 5rem;
  font-weight: 300;
}

.graph-header button {
  margin: 1rem;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

/* #sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

#sidebar.active {
  margin-left: -250px;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
} */
